.nav {
  display: flex;
  list-style-type: none;
  padding: 0;

  &__item {
    & + .nav__item { margin-left: 28px; }
 
    a {
      background-color: var(--link);
      transition: all linear .2s;
      color: var(--body);

      &:hover {
        background-color: var(--linkHover);
        text-decoration: none;
      }

      .nav--secondary & {
        background-color: transparent;

        &:hover { background-color: transparent; }
      }
    }
  }
}