.header {
  background-color: var(--lightBlue);
  text-align: left;
  border-bottom: 1px solid #edefee;

  h1 {
    font-family: var(--headFamily);
    font-size: 2.6111111rem;
    line-height: 3.1111111rem;
  }
  h6 {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5555556rem;
    margin-bottom: 1.5555556rem;
  }

  .nav { margin-top: 56px; }
  
  &--inside {
    padding: 26px 0;
    
    .nav { margin-top: 26px;}
  }

  .ease {
    @for $i from 1 through 50 {
      &:nth-child(#{$i}) {
        animation-delay: 100ms * $i;
      }
    }
  }
}

@keyframes slideUp {
  0%,100% {
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  0% {
    opacity: 0;
    transform: translateY(75px); 
  }
  100% {
    opacity: 1;
    transform: translateY(0); 
  } 
}