$body: #4a4a4a;

.cr-post-item {
  & + .cr-post-item { margin-top: 2.25rem; }

  h2 { margin-bottom: .5rem; }

  &__meta { 
    font-family: var(--metaFamily); 
    font-size: .75rem;
    margin: 0;
  }

  a {
    color: var(--body);
    text-decoration: underline;
    &:visited { color: lighten($body, 20%) }
    &:visited { color: lighten($body, 10%) }
  }
}