$body: #4a4a4a;

.cr-post-item {
  & + .cr-post-item { margin-top: 2.25rem; }

  &__meta { 
    font-family: var(--metaFamily); 
    font-size: .75rem;
    margin: 0;
  }
}

h2 { 
    margin-bottom: .5rem; 
    line-height: 1.2;
  }

  a {
    color: var(--body);
    text-decoration: underline;
    transition: 15s;
    &:hover { color: lighten($body, 30%) }
    &:visited { color: lighten($body, 10%) }
  }